* {
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.calculatrice {
	height: auto;
	padding: 10px;
	width: 310px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: black;
	color: white;
    border-radius: 20px;
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.ecran {
	height: 150px;
	background-color: black;
	border-radius: 20px;
	margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calcul, .result{
    padding-left: 10px;
    padding-right: 10px;
    height: 45%;
    width: 95%;
}
.calcul input{
    height: 80%;
    width: 100%;
    font-size: 30px;
    background-color: transparent;
    text-align: end;
    outline: unset;
    border: none;
    color: white;
    
}
.result input{
    height: 80%;
    width: 100%;
    font-size: 30px;
    background-color: transparent;
    text-align: end;
    outline: unset;
    border: none;
    color: white;
    
}
.intermediaire {
	height: 50px;
	margin: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid gray;
	padding: 0 20px;
}

.controls {
	display: flex;
	flex-direction: column;
	gap: 3px;
}
.ligne {
	display: flex;
	justify-content: space-evenly;
	text-align: center;
}
.control {
	background-color: rgb(61, 58, 58);
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	font-size: 30px;
	font-weight: 700;
}

.color.green{
	color: #0072be;
}
.background.green {
	background-color: #0072be;
	font-weight: 1000;
	font-size: 50px;
}

.trans{
	transition: 0.5s ease-in-out;
}
.trans:hover{
	transform: scale(0.9);
	transition: 0.5s ease-in-out;
	cursor: pointer;
}